name: Deploy Frontend

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy FE via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ${{ secrets.FR_FTP_HOST }}
          username: ${{ secrets.FR_FTP_USER }}
          password: ${{ secrets.FR_FTP_PASSWORD }}
          server-dir: "/htdocs/frontend/"
          local-dir: "frontend/"
